%tr.unactive{:id => item.id}
  = form_tag(to_active_main_path, :method => 'get', :remote => true) do
    %td.img
      = image_submit_tag "ok_button.png", :onClick => "$.ajax({url: '#{to_active_main_path}', type: 'get', data: 'message_id=#{item.id}'});"
    %td.main
      %table.unactive_table{:cellpadding => 0, :cellspacing => 0}
        %tr
          %td.text
            .message.active
              = item.text
        %tr
          %td
            = hidden_field_tag :message_id, item.id
    %td